/* Variables */
$primary-color: rgb(136, 190, 186); 
$secondary-color: #333;
$font-family: 'Arial', sans-serif;

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.Section-home {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2em;
    margin: 20px;
    text-align: center;
  }

  p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
  }
}

.Section-header {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
}

.dish-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  list-style: none;
}

.dish-card {
  background-color: #ffffffd8;
  border: 4px solid $primary-color;
  border-radius: 5px;
  padding: 20px 0 ;
  width: 15%;
  box-sizing:content-box;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.dish-card h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: $secondary-color;
  text-align: center;
}

.dish-card p {
  font-size: 1em;
  line-height: 1.5;
  color: $secondary-color;
  text-align: center;
}
